<!-- avatar_url (@user) -->
<header>
	<%= image_tag avatar_url(@user), id: 'profile-pic' %>
	<h1><%= @user.first_name %> <%= @user.last_name %></h1>
</header>
<section class="container-fluid" id="user-about">
	<div class="row">
		<h3>Favorite Genres</h3>
		<h4>Pop // Punk // Rock // Metal</h4>
		<h4><%= render 'follow_form'%></h4>
	</div>
</section>