<div id="welcome">
	<img src="<%= asset_path('bg-guitar.jpg')%>">
	<div id="welcome-msg">
		<h1>Welcome to Music Dock</h1>
		<h3>share // listen // discover new music</h3>
		<a href="#" class="text-uppercase btn btn-primary">sign up</a>
	</div>
</div>