<div id="welcome">
	<img class="hidden-xs" src="<%= asset_path('bg-guitar.jpg')%>"> 
	<div class="visible-xs" id="xs-background"></div>
	<div id="welcome-msg">
		<h1>Welcome to Music Dock</h1>
		<h3>share // listen // discover new music</h3>
		<a href="#" class="text-uppercase btn btn-primary">sign up</a>
		<%= link_to 'sign up', new_user_registration_path, class: 'text-uppercase btn btn-primary' %>
	</div>
</div>