body {
	padding-top: 40px;
}

#xs-background {
	background-color: #333333;
	width: 100%;
	height: 600px;
}

#welcome {
	position: relative;
	z-index: 0;
	img {
		width: 100%;
		height: 100%;
	}
	#welcome-msg {
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translateX(-50%);
		z-index: 99;
		h1,h3 {
			color: #b3b3b3;
			text-align: center;
		}
		a {
			position: absolute;
			margin-top: 10px;
			left: 50%;
			transform: translateX(-50%);
			font-size: 2em;
			color: #b3b3b3;
			background-color: #666666;
			border-color: #1a1a1a;
			letter-spacing: 3px;
		}
	}
}